In [4]:
%matplotlib inline
import numpy as np
import pandas as pd

from scipy import stats

import matplotlib.pyplot as plt
import datetime
import seaborn as sns

import common_data as core_services

In [16]:
np.random.seed(10)

FEATURES_WHEN = 0
CLOSED_AT =9

experiment = None

BASEBATH= "./issue_data/"
DATAPATH1 = BASEBATH+""
MONGOPATH = BASEBATH+"text/"

FIGPATHATH1 = "figures/"

issues_orig = pd.read_csv(DATAPATH1 + "fixed_issues.csv")
repos = pd.read_csv(DATAPATH1 + "fixed_repos.csv")

issues_orig["created_at"] = pd.to_datetime(issues_orig["created_at"])
issues_orig["closed_at"] = pd.to_datetime(issues_orig["closed_at"])

issue_ds = pd.read_csv(DATAPATH1 + "feature_tables_days_{0}.csv".format(FEATURES_WHEN), index_col=0)

`issue_ds` contains the dynamic features calculated at FEATURES_WHEN

rid denotes the repo_id and can be linked with repos.repo_id (or repos.rid)

In [17]:
issue_ds.head(1)

,issue_id,rid,relative_month,elapsed,issticky,live_at_dynamic,created_before3m,closed_before3m,commit_before3m,commit_before3m_nunique,...,commit_before_project3m,commit_before_project3m_nunique,created_before_project2w_sliding,closed_before_project2w_sliding,commit_before_project2w_sliding,commit_before_project2w_nunique_sliding,body_len,title_len,comment_len_mean,comment_len_sum
0,6837448,7450539,14,-1.0,1,1,14.0,0.0,78.0,1.0,...,304.0,1.0,17.0,0.0,91.0,1.0,0.0,0.0,0.0,0.0

`issues_orig` is the original features

rid is the repository id, maps to repos.rid or repos.repo_id

the id here is also repository id, maps to repos.id field

In [12]:
issues_orig.head(1).T

                                        0
Unnamed: 0                              0
issue_id                          6837448
created_at            2014-01-14 17:59:58
closed_at                             NaT
closed_at_last                        NaN
elapsed                               NaN
elapsed_last                          NaN
actors                                  1
comments                                1
commit_before                           1
commit_after                            0
id                          7450539-conda
rid                               7450539
created_date                   2014-01-14
closed_date                           NaN
repo_creation         2012-10-01 00:00:00
real_at               2012-10-15 23:08:03
relative_time                         455
relative_month                         14
relative_month_close                  NaN
relative_time_close                   NaN
issticky                                1
cnt                                     1
life                                   26

repository metadata. use repo_id (rid) or id column to link to issues

In [14]:
repos.query("repo_id == 7450539")

,Unnamed: 0,repo_id,name,url,created_at,cnt,real_at,repo_creation,rid,life,id
3152,4965,7450539,conda,https://api.github.com/repos/conda/conda,2012-10-15 23:08:03,527,2012-10-15 23:08:03,2012-10-01 00:00:00,7450539,26,7450539-conda